@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin: 0;
    padding: 0;
    font: 10pt Arial;
}

body {
    background-color: #E6E6E7;
}

.field {
    display: flex;
    position: relative;
    margin-left: 1100px;
    width: 25%;
    flex-direction: row;
    box-shadow: 1px 1px 0 rgb(22, 160, 133), 2px 2px 0 rgb(22, 160, 133), 3px 3px 0 rgb(22, 160, 133), 4px 4px 0 rgb(22, 160, 133), 5px 5px 0 rgb(22, 160, 133), 6px 6px 0 rgb(22, 160, 133), 7px 7px 0 rgb(22, 160, 133);
}

    .field > input[type=text],
    .field > button {
        display: block;
        font: 1.1em 'Montserrat Alternates';
    }

    .field > input[type=text] {
        flex: 1;
        padding: 0.3em;
        border: 0.3em solid rgb(26, 188, 156);
    }

    .field > button {
        padding: 0.6em 0.7em;
        background-color: rgb(26, 188, 156);
        color: white;
        border: none;
    }