<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2021.3.1" targetFramework="net452" />
  <package id="IronPdf.Assets.Rendering.Windows" version="22.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net452" developmentDependency="true" />
</packages>